$max-width: 1000px;
$shadow: 0 2px 5px rgba(0, 0, 0, .3);

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.body {
    margin: 0;
}

.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;

    .inner {
        width: 100%;
        max-width: $max-width;
        height: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            background-color: black;
            border: 1px solid black;
            color: white;
            padding: 3px 10px;
            margin: 0 10px;
            border-radius: 3px;
            text-decoration: none;
            transition-property: padding, margin;
            transition: 0.5s ease;

            &:hover {
                margin: 0;
                padding: 3px 20px;
            }
        }

        .buttonGroup {
            margin: 0 10px;

            a {
                background-color: white;
                border: 1px solid black;
                color: black;
                padding: 3px 10px;
                border-radius: 3px;
                text-decoration: none;
                transition-property: color, background-color;
                transition: 0.3s ease;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}

.container {
    margin-top: 60px;

    .panel {
        width: 100%;
        display: flex;

        .innerPanel {
            width: 100%;
            max-width: $max-width;
            margin: 0 auto;
        }
    }
}

.collections {
    .collection {
        background-color: white;
        margin: 20px 0;
        box-shadow: $shadow;
        border-radius: 8px;
        overflow: hidden;
        max-height: 80px;
        transition: max-height 1s ease;

        &:hover,
        &.expanded {
            max-height: initial;
        }

        .main {
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            div {

                a {
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                }

                a:hover {
                    text-decoration: underline;
                }

                .title {
                    margin: 5px 10px 0;
                    font-size: 1.7em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                }

                .user {
                    margin: 0 10px;
                    font-size: 1.2em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            img {
                height: 80px;
                width: auto;
            }
        }

        .songs {
            width: 100%;

            a {
                color: black;
                text-decoration: none;
                display: block;
                width: calc(100% - 20px);
                padding: 5px 10px;
                border-top: 1px solid rgba(0, 0, 0, .2);
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, .1);
                    text-decoration: underline;
                }
            }
        }
    }
}

.songInfo {
    margin: 10px 0;

    .title {
        font-size: 1.5em;
        margin: 2px 0;
    }

    .collection {
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        cursor: pointer;
        margin: 2px 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.stickybox {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 60px;
    background-color: white;

    input {
        padding: 10px;
        font-size: 1.1em;
        width: calc(100% - 200px);
        max-width: 350px;
    }

    .percentage {
        font-size: 2em;
        font-variant-numeric: tabular-nums;
    }
}

.play {
    margin-bottom: 30px;

    .lyricContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .lyricColumn {
            width: calc(20% - 0.8px);

            .lyricBox {
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1px 0;

                &.covered {
                    background-color: grey;
                }
            }
        }
    }
}

.error {
    background-color: white;
    margin: 20px 0;
    box-shadow: $shadow;
    border-radius: 8px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    div {
        background-color: red;
        width: 10px;
        height: 80px;
        margin-right: 20px;
    }
}

form {
    background-color: white;
    margin: 20px 0;
    box-shadow: $shadow;
    border-radius: 8px;
    padding: 20px 10px;

    div {
        margin: 10px;

        label {
            display: block;
        }

        input[type=text],
        input[type=password],
        select,
        textarea {
            margin: 15px 5px;
            padding: 10px;
            font-size: 1em;
            width: calc(100% - 10px);
            max-width: 400px;
            box-sizing: border-box;
        }
    }
}