$max-width: 1000px;

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.body {
    margin: 0;
}

.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    top: 0;
    left: 0;
    background-color: white;

    .inner {
        width: 100%;
        max-width: $max-width;
        height: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            background-color: black;
            border: 1px solid black;
            color: white;
            padding: 3px 10px;
            margin: 0 10px;
            border-radius: 3px;
            text-decoration: none;
            transition-property: padding, margin;
            transition: 0.5s ease;

            &:hover {
                margin: 0;
                padding: 3px 20px;
            }
        }

        .buttonGroup {
            margin: 0 10px;

            a {
                background-color: white;
                border: 1px solid black;
                color: black;
                padding: 3px 10px;
                border-radius: 3px;
                text-decoration: none;
                transition-property: color, background-color;
                transition: 0.3s ease;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}

.container {
    margin-top: 60px;

    .panel {
        width: 100%;
        display: flex;

        .innerPanel {
            width: 100%;
            max-width: $max-width;
            height: 60px;
            margin: 0 auto;
        }
    }
}

.collections {
    .collection {
        background-color: white;
        margin: 20px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        border-radius: 8px;
        overflow: hidden;

        .main {
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .title {
                margin: 5px 10px;
                font-size: 2em;
                display: inline;
                text-decoration: none;
                color: black;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                height: 80px;
                width: auto;
            }
        }

        .songs {
            width: 100%;

            a {
                color: black;
                display: block;
                width: calc(100% - 40px);
                padding: 5px 20px;
                border-top: 1px solid rgba(0, 0, 0, .2);
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: rgba(0, 0, 0, .1);
                }
            }
        }
    }
}

.songInfo {
    p {
        margin: 2px 0;
    }

    .title {
        font-size: 1.2em;
    }
}

.play {
    margin-bottom: 30px;

    input {
        margin: 15px 5px;
        padding: 10px;
        font-size: 1.1em;
    }

    .percentage {
        float: right;
        font-size: 2em;
        font-variant-numeric: tabular-nums;
    }

    .lyricContainer {
        width: 100%;
        display: flex;
        flex-direction: row;

        .lyricColumn {
            width: 20%;
            margin: 0.5px;

            .lyricBox {
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1px;

                &.covered {
                    background-color: grey;
                }
            }
        }
    }
}

.error {
    background-color: white;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 8px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    div {
        background-color: red;
        width: 10px;
        height: 80px;
        margin-right: 20px;
    }
}

form {
    background-color: white;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 20px 10px;

    div {
        margin: 10px;

        label {
            display: block;
        }

        input[type=text],
        select,
        textarea {
            margin: 15px 5px;
            padding: 10px;
            font-size: 1em;
            width: calc(100% - 10px);
            max-width: 400px;
            box-sizing: border-box;
        }
    }
}