{% extends 'default.html' %}
{% block title %}{{ collection.title }}{% endblock %}
{% block content %}
<div class="panel">
    <div class="innerPanel">
        <div class="collections">
            <div class="collection expanded">
                <div class="main">
                    <div>
                        <p class="title">{{ collection.title }}</p>
                        {% if collection.songs %}
                        <a href="/random/{{ collection._id }}" class="random">Random Song</a>
                        {% endif %}
                    </div>
                    {% if collection.image %}
                    <img src="{{ collection.image }}" alt="{{ collection.title }}">
                    {% endif %}
                </div>
                <div class="songs">
                    {% for song in collection.songs %}
                    <a href="/play/{{ song._id }}">{{ song.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}