{% extends 'default.html' %}
{% block title %}Edit '{{ collection.title }}'{% endblock %}
{% block content %}
<div class="panel">
    <div class="innerPanel">
        <h1>Edit '{{ collection.title }}'</h1>
        {% if error %}
        <div class="error">
            <div></div>
            <p>An error occurred, please try again</p>
        </div>
        {% endif %}
        <div class="collections">
            <div class="collection">
                <div class="main">
                    <div class="text">
                        <a href="/collection/{{ collection._id }}" class="title">{{ collection.title }}</a>
                        <p class="date">Created on {{ collection.date.strftime('%d/%m/%Y') }} by {{ collection.user_name }}</p>
                    </div>
                    {% if collection.image %}
                    <img src="/static/thumbnails/{{ collection.image }}.png" alt="{{ collection.title }}">
                    {% endif %}
                </div>
            </div>
        </div>
        <form method="post" id="addCollection" enctype="multipart/form-data">
            <div>
                <label for="title">Collection Title:</label>
                <input type="text" name="title" id="title" value="{{ collection.title }}" required>
            </div>
            <div>
                <label for="image" class="fakeUpload">
                    Upload a new image
                </label>
                <input type="file" name="image" id="image">
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
        <div class="collections">
            <div class="collection expanded">
                <div class="tinyHeader">
                    {% if collection.songs %}
                    <p>Drag to reorder songs</p>
                    {% endif %}
                    <a href="/add/song?c={{ collection._id }}">Add a Song</a>
                </div>
                <div class="songs">
                    {% for song in collection.songs %}
                    <a href="/edit/song/{{ song._id }}" id="{{ song._id }}">Edit '{{ song.title }}'</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $('.songs').sortable({
        animation: 150,
        easing: "ease",
        onEnd: function (evt) {
            var songs = []
            $('.songs').children().each(function () {
                songs.push(this.id)
            })
            console.log(songs)
            $.ajax({
                type: 'POST',
                url: '/api/reorder',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ songs }),
                dataType: 'json',
                success: function (data) {
                    console.log(data.data)
                },
            })
        }
    })
</script>
{% endblock %}