{% extends 'default.html' %}
{% block title %}Play Lyric{% endblock %}
{% block content %}
{% if multiplayer %}
<div class="panel dark">
    <div class="innerPanel">
        <div class="members"></div>
    </div>
</div>
{% endif %}
<div class="panel">
    <div class="innerPanel">
        <div class="songInfo">
            {% if not hidden %}
            <p class="title"></p>
            {% endif %}
            <a href="#" class="collection"></a>
        </div>
        <div class="stickybox">
            <input type="text" name="enter" id="enter">
            <div class="percentage">
                <span class="complete"></span> / <span class="total"></span>
            </div>
        </div>
        <div class="play">
            <div class="lyricContainer">
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
{% if multiplayer %}
<script>
    // song_id, multiplayer
    getSong('{{ song_id }}', true);
</script>
{% else %}
<script>
    // song_id, multiplayer
    getSong('{{ song_id }}', false);
</script>
{% endif %}
{% endblock %}
{% block popup %}
<div class="popup hidden">
    <div class="box">
        <h1>Song Complete!</h1>
        <p class="popupText"></p>
        <div class="buttonGroup">
            {% if multiplayer %}
            <a href="/room" class="dark">Back to Rooms</a>
            {% else %}
            <a href="/play/{{ song_id }}" class="dark">Play Again</a>
            <a href="" id="back"></a>
            <a href="" id="random"></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}