{% extends 'default.html' %}
{% block title %}Play Lyric{% endblock %}
{% block content %}
{% if multiplayer %}
<div class="panel dark">
    <div class="innerPanel">
        <div class="members"></div>
    </div>
</div>
{% endif %}
<div class="panel">
    <div class="innerPanel">
        <div class="songInfo">
            {% if not hidden %}
            <p class="title"></p>
            {% endif %}
            <a href="#" class="collection"></a>
        </div>
        <div class="stickybox">
            <input type="text" name="enter" id="enter">
            <div class="percentage">
                <span class="complete"></span> / <span class="total"></span>
            </div>
        </div>
        <div class="play">
            <div class="lyricContainer">
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
                <div class="lyricColumn"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script>
    const id = '{{ current_user.get_id() }}'
    // song_id, multiplayer
    getSong('{{ song_id }}', {{ multiplayer|string|lower }}, {{ hidden|string|lower }});
</script>
{% endblock %}
{% block popup %}
<div class="popup hidden">
</div>
{% endblock %}